// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.form-container {
	max-width: 600px;
	margin: 0 auto;
}

.list-group-item {
	padding: 5px;
}

.vote-section {
	margin-right: 10px;
}

.content-section {
	padding: 3px;
}

.secondary-text {
	font-size: 13px;
}

.bottom-text {
	margin-top: 3px;
	font-size: 11px;
}